// base setting

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgb(238, 238, 238);
}
.sections_wrap{
    transition: .4s ease;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
}